[Unit]
Description=Start runtimeServer Python script at boot
After=network-online.target ntpd.service
Requires=network-online.target ntpd.service

[Service]
ExecStart=runtimeServer.py
WorkingDirectory=/root
User=root
Group=root
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
