[Unit]
Description=Network Time Protocol Daemon
After=network.target

[Service]
ExecStart=/usr/sbin/ntpd -u ntp:ntp -gq
Restart=on-failure

[Install]
WantedBy=multi-user.target
