[Unit]
Description=Rootbot service instance or something and stuff, dunno....
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/root/rootbot

[Install]
WantedBy=multi-user.target
