[Unit]
Description=Create Apache .htpasswd on first boot
before=runtimeServer.service

[Service]
Type=oneshot
ExecStart=/etc/apache2/init-htpasswd.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
