[Unit]
Description=MJPG-streamer webcam service
After=network.target

[Service]
Type=simple
User=root
Group=root

# Set camera controls before starting
ExecStartPre=/usr/bin/v4l2-ctl -d /dev/video0 --set-ctrl=power_line_frequency=2
ExecStartPre=/usr/bin/v4l2-ctl -d /dev/video0 --set-ctrl=auto_exposure=1
ExecStartPre=/usr/bin/v4l2-ctl -d /dev/video0 --set-ctrl=exposure_time_absolute=200

# Start MJPG-streamer directly
ExecStart=/usr/bin/mjpg_streamer \
  -i "/usr/lib/mjpg-streamer/input_uvc.so -d /dev/video0 -r 1280x720 -f 3 -q 50" \
  -o "/usr/lib/mjpg-streamer/output_http.so -p 8080 -l 0.0.0.0 -w /usr/share/mjpg-streamer/www"

CPUAffinity=2 3
Restart=on-failure
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target
