[Unit]
Description=MJPG Streamer
After=network.target

[Service]
ExecStart=/usr/bin/mjpg_streamer -i "/usr/lib/mjpg-streamer/input_uvc.so -d /dev/video0 -r 1280x720 -f 5" -o "/usr/lib/mjpg-streamer/output_http.so -p 5001 -l 0.0.0.0 -w /usr/share/mjpg-streamer/www"
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target