[Unit]
Description=Network Time Protocol Daemon
After=network.target

[Service]
ExecStart=/usr/sbin/ntpd -g
Restart=on-failure

[Install]
WantedBy=multi-user.target
