[Unit]
Description=Boot state checking service
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/boot-state.sh

[Install]
WantedBy=multi-user.target
